body {
    background-color: rgb(245, 245, 245);
}

.logo-name {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.about-container {
    margin: 40px 200px 80px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.logo-name>img {
    width: 250px;
    height: 250px;
    margin-left: -50px;
}

.about-container>h2,
.logo-name>h2 {
    text-decoration: none;
    font-size: 20px;
    color: rgb(117, 98, 116);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-name>h2 {
    margin-top: 100px;
    margin-left: 15px;
    color: rgb(68, 66, 66);
    letter-spacing: 10px;
    font-size: 45px;
}

.about-container .txt {
    color: rgb(117, 98, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13.5px;
}

/* Responsive */

/* ----------- iPad ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .logo-name {
        margin-top: 60px;
        align-items: center;
    }

    .logo-name>img {
        width: 130px;
        height: 130px;
    }

    .logo-name>h2 {
        margin-top: 0;
        margin-bottom: 0;
    } 

    .about-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-container .txt {
        display: -webkit-box;
        -webkit-line-clamp: 27;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* ----------- iPad ----------- */

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) { 
    body {
        width: 540px !important;
    }
    .logo-name {
        margin-top: 60px;
        align-items: center;
    }

    .logo-name>img {
        width: 130px;
        height: 130px;
    }

    .logo-name>h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 35px;
    } 

    .about-container {
        margin: 0 60px;
    }

    .about-container>h2 {
        margin: 0;
        padding: 0;
    }

    .about-container .txt {
        display: -webkit-box;
        -webkit-line-clamp: 21;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }

/* ----------- iPhone X ----------- */

/* Responsive */