/* Login/Register */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(120, 194, 120, 0.836);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.container .input-field {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

::placeholder {
    color: white;
}

.hidden {
    display: none;
}

.container .forms .submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #d695bbce;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

form {
    display: block;
    margin-top: 30px;
}

.container .link-container {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.link-container a:hover {
    border-bottom: 3px solid rgba(0, 128, 0, 1);
    transition: all 0.2s ease;
}

.link-container a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-align: center;
    padding-top: 10px;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Login/Register-end */

