body {
    margin: 0px;
    background-color: pink;
}


/*Header*/

.topnav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav .links>a:hover {
    border-bottom: 3px solid rgb(168, 168, 168);
}

.topnav .nav-bar {
    color: rgb(250, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav>a>img {
    width: 50px;
    height: 50px;
}


/* Header-end */


/* Slider */

.content-holder {
    height: 100vh;
}

.slider-content>img {
    width: 80vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active,
.not-active {
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

.not-active {
    opacity: 0;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 128, 0, 0.3);
}


/* Slider-end */


/* Footer */

footer {
    background: #DADADA;
    display: block;
    background-color: black;
    font-family: "Lato", sans-serif;
    padding: 85px 0 285px 0;
}

.footer-inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    max-width: 1170px;
    position: relative;
}

.footer-item {
    float: left;
    margin: 0 7.2% 0 0;
}

.footer-item:nth-of-type(4) {
    display: none;
}

.footer-item:nth-of-type(7) {
    float: right;
    margin-right: 0;
}

.footer-button:hover {
    border-bottom: 3px solid white;
}

.color-white {
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 10px;
}

h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}

.color {
    color: white;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}

li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}

p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    color: #d1d1d1;
}

a:hover {
    color: white;
}

.footer-inner:after {
    content: "\00A9 2020 H Skincare. All Rights Reserved.";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    top: 260px;
    clear: both;
    display: block;
}
/* Footer-end */

/* Responsive */

/* ----------- iPad ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    .slider-content>img {
        width: 770px;
        height: 100%;
    }
}
/* ----------- iPad ----------- */  

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) {  

    .slider-content>img {
        width: 380px;
        height: 100%;
    }

    .topnav {
        height: 40px;
    }

    .topnav>a>img {
        margin-top: 8px;
        width: 40px;
        height: 40px;
    }

    .topnav .nav-bar {
        font-size: 11px;
        padding: 0 8px;
    }

    .footer-item h1 {
        font-size: 15px;
    }

    .footer-item h2,
    .footer-item h3,
    .footer-item p,
    .footer-item ul li,
    .footer-inner:after {
        font-size: 9px;
    }
  }

/* ----------- iPhone X ----------- */

/* Responsive */