.title {
    margin-top: 100px;
    margin-left: 50px;
}

.title>h1 {
    text-decoration: none;
    font-size: 40px;
    color: rgb(164, 45, 87);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .wrapper {
    padding: 0 110px;
}

main .wrapper .item {
    display: inline-block;
    padding: 40px;
}

main .wrapper .item>h2,
.price {
    text-decoration: none;
    font-size: 18px;
    color: rgb(117, 98, 116);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .wrapper .item>p {
    font-size: 15px;
}

main .wrapper .item>img {
    width: 350px;
    height: 450px;
    margin-bottom: 15px;
}

main .wrapper .item .add-to-cart {
    padding: 10px 20px;
    color: #d695bbce;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    width: 100%;
}

/* Responsive */

/* ----------- iPad ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    main .wrapper {
        display: flex;
        flex-direction: column  ;
    }

    main .wrapper .item {
        margin: auto;
    }
}
/* ----------- iPad ----------- */

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 767px) { 
    body {
        width: 540px !important;
    }

    .title {
        margin-left: 0;
    }

    .title>h1 {
        font-size: 25px;
    }

    main .wrapper {
        padding: 0 50px;
        display: flex;
        flex-direction: column  ;
    }

    main .wrapper .item {
        margin: auto;
        padding: 20px;   
    }

    main .wrapper .item>h2 {
        margin: 0;
        padding-top: 0;
    }
  }

/* ----------- iPhone X ----------- */

/* Responsive */
